<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Group Chat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        var socket = io.connect();
     $(document).ready(function (){
        var name = prompt("What is your name?");
        socket. emit("new_user", {name:name});
        socket.on("server_response", function(){
            console.log("response received");
            html_str ="<ul><li>"+ name+"</li><li id='player_hand'>Hand:</li><li id='player_total'>Hand Value:</li><li id='player_buttons' style='list-style:none'><button id='start'>Start Game</button></li></ul>"
            $('#players').append(html_str);
        });
        $(document).on("click", '#start',function(){
            socket.emit("start_game", name);
        });
        socket.on("deal", function(data){
            let dealer_hand_str = "Hand: "
            dealer_hand_str+= "<img src='images/b1pl.png' height='150' >";
            dealer_hand_str+= "<img src='images/"+data['dealer_hand'][0].image + ".png' height='150' >";
            $('#dealer_hand').html(dealer_hand_str);
            $('#dealer_total').text("Hand Value: " + data['dealer_hand'][0].value);
             let player_hand_str = "Hand: "
            for (let i=0; i<data['player_hand'].length; i++){
                player_hand_str+= "<img src='images/"+data['player_hand'][i].image + ".png' height='150' >"
            } 
            $('#player_hand').html(player_hand_str);
            let player_total = 0;
            let player_ace_count = 0;
            for (let i=0; i<data['player_hand'].length; i++){
                if(data['player_hand'][i].value == 1){
                    player_ace_count++;
                    console.log("found ace");
                }
                player_total += data['player_hand'][i].value
            }
            for (let i=0;i<player_ace_count;i++){
                if(player_total < 12){
                    console.log("ace add");
                    player_total += 10;
                }
            }
            $('#player_total').text("Hand Value: " + player_total);
            $('#player_buttons').html("<button id='draw'>Draw</button><button id='stand'>Stand</button>")
        });
        $(document).on('click', '#draw', function(){
            socket.emit("draw", Math.random()*1000);
            console.log("drawing");
        });
        socket.on("new_card", function(results){
            console.log("received new card", results);
            if (results.player_status == "busted"){
                console.log(results);
                alert("You Busted! :(");
                let player_bust_str = "Hand: ";
                for (let i=0; i<results['player_hand'].length; i++){
                    player_bust_str+= "<img src='images/"+results['player_hand'][i].image + ".png' height='150' >"
                }
                let dealer_bust_str = "";
                for (let i=0; i<results['dealer_hand'].length; i++){
                    dealer_bust_str+= "<img src='images/"+results['dealer_hand'][i].image + ".png' height='150' >"
                }
                let dealer_total = 0;
                let dealer_ace_count = 0;
                for (let i=0; i<results['dealer_hand'].length; i++){
                    if(results['dealer_hand'][i].value == 1){
                        dealer_ace_count++;
                    }
                    dealer_total += results['dealer_hand'][i].value
                }
                for (let i=0; i<dealer_ace_count;i++){
                    if (dealer_total<12){
                        dealer_total+=10;
                    }
                }
                $('#player_hand').html(player_bust_str);
                $('#player_total').text("Hand Value: " + results.player_total);
                $('#player_buttons').html("<button id='start'>Start a New Game (Refresh for new player)</button>")
                $('#dealer_hand').html(dealer_bust_str);
                $('#dealer_total').text("Hand Value: " + dealer_total);
            } else{
                let player_draw_str = "Hand: "
                for (let i=0; i<results['player_hand'].length; i++){
                    player_draw_str+= "<img src='images/"+results['player_hand'][i].image + ".png' height='150' >"
                } 
                $('#player_hand').html(player_draw_str);
                $('#player_total').text("Hand Value: " + results.player_total);
            };
        });
     })

     </script>
</head>
<body>
    <h1>BlackJack</h1>
    <div id="dealer">
        <ul>
            <li>DEALER</li>
            <li id='dealer_hand'>Hand:</li>
            <li id='dealer_total'>Hand Value:</li>
        </ul>
    </div>
    <div id="players">
    </div>

</body>

</html>